.btn {
  --color: var(--light);
  --bg: var(--first);
  position: relative;
  color: var(--color);
  min-width: 2rem;
  border-radius: 0.25rem;
  border: 1px solid;
  padding: 0.5rem;
  background-color: transparent;
  z-index: 1;
}
.btn:hover {
  color: var(--bg);
  background-color: var(--color);
}