.zeroise, #footer .map {
  margin: 0;
  border: 0;
  padding: 0;
}

.cover {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.p-static {
  position: static;
}

.p-relative, #footer {
  position: relative;
}

.p-absolute, #footer .map {
  position: absolute;
}

.p-fixed, #footer .map.active + button, #footer .map.active {
  position: fixed;
}

.p-sticky {
  position: sticky;
}

#footer .map.active + button, #footer .map.active {
  z-index: 2;
  opacity: 0.95;
}

/*Pie de pagina - compilable*/
#footer {
  background: linear-grandient(#eee8, #3338);
}
#footer .map {
  --color: var(--first);
  --bg: var(--light);
}
#footer .map.btn {
  margin: 1rem;
  border: 1px solid;
  padding: 0.5rem 1rem;
  top: 0;
  right: 0;
  color: var(--color);
  background-color: var(--bg);
}
#footer .map.btn:hover {
  --color: var(--light);
  --bg: var(--first);
  box-shadow: 0 0.25rem 0.5rem var(--dark);
}
#footer #contact {
  margin: 5rem auto 1rem;
  border: 0;
  padding: 1rem;
  max-width: 576px;
  border-radius: 0.25rem;
  background-color: var(--light);
}
#footer p:last-child {
  text-transform: uppercase;
  text-align: center;
}