*{
    box-sizing: border-box;
    font-family: var(--font);
    scroll-behavior: smooth;
}
/* Reinicio de estilos */
body,h1,h2,h3,.menu{
    margin: 0;
}
.menu,.list-unstyled{
    padding: 0;
}
.menu,.list-unstyled{
    list-style: none;
}
:is(nav,.social) a,.link{
    text-decoration: none;
}