#header{
    min-height: min(100vh, 640px);
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: min(calc(.8rem + 2vw),3rem);
    text-shadow: 0 0 .50rem #333;
    /* Background Properties */
    color: var(--light);
    background-color: var(--first);
    background-image:
        radial-gradient(hsla(100,10%,50%,0.2),rgb(65, 36, 192)),
        url(../assets/bg/wd.png),
        url(../assets/bg/whithebg.jpg);
    background-position: center; 
    background-size: 
        cover,
        clamp(var(--md), 100%, var(--md));
    background-repeat: no-repeat;
    background-attachment: fixed,
    scroll;
}